---
layout: base.njk
---

<article class="post section">
  <h1>{{ title }}</h1>
  {% if date %}
    <p class="muted">{{ date | date("dd LLLL yyyy") }}</p>
  {% endif %}
  {{ content | safe }}
</article>
